.*
*.svg
*.png
*.jpg
src/app/modules/**
src/api/content/**
HelmCharts
node_modules
.next

tests/node_modules/**
tests/test-results/**
tests/playwright-report/**
tests/results/**
tests/allure-report/**
tests/playwright-report/**
tests/allure-results/**
tests/data/generated/**
