.button {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 0 8px;
  height: 36px;
  outline: none;
  background-color: transparent;
  border: 1px solid #1e1e1e;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
  text-wrap: nowrap;
  align-items: center;

  &:hover {
    border-color: #3369f3;
  }
}

.link {
  border: none;
  color: #3369f3;

  &:hover {
    color: #1454f6;
  }
}

.primary {
  background-color: #3369f3;
  color: #fff;
  border-color: #3369f3;

  &:hover {
    background-color: #1454f6;
    border-color: #1454f6;
  }
}

.warning {
  border: none;
  color: red;
}
