.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  :global {
    .error_wrapper {
      display: flex;
      align-items: center;
      overflow: hidden;
      flex-wrap: wrap;
      flex-direction: column;
      font-weight: 500;
    }

    .error_text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 42px;
    }

    .error_title {
      font-size: 65px;
      margin-bottom: 24px;
    }

    .error_subtitle {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}
