html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
input:focus,
input:focus-visible {
  outline: none;
}

html * {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

.chat-message {
  border-bottom: 1px solid #eaeaea;
  min-height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  &_icon {
    width: 47px;
    height: 47px;
    min-width: 47px;
    min-height: 47px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
  }

  &_title {
    font-weight: 600;
  }

  &_text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &_date {
    font-size: 12px;
    color: #999999;
  }

  &_count {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3369f3;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
  }
}

.message-item {
  width: 100%;
  margin-top: 16px;
  height: fit-content;

  &_text {
    position: relative;
    width: fit-content;
    max-width: 50%;
    padding: 10px 10px 30px 10px;
    border-radius: 12px;
    line-height: 20px;
  }

  &_time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
  }

  .incoming {
    border-top-left-radius: 0px;
    background-color: #f8f8f8;
    margin: 0 auto 0 0;

    & .chat-body_message-time {
      color: #999999;
    }
  }

  .outgoing {
    border-bottom-right-radius: 0px;
    background-color: #e4edfd;
    margin: 0 0 0 auto;

    & .chat-body_message-time {
      color: #3369f3;
    }
  }
}
