.editing-profile {
  position: relative;
  width: 100vw;
  height: 100vh;

  :global {
    .editing-profile-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 36px;
      width: 100%;
      height: 100%;
    }

    .editing-profile-icon {
      width: 120px;
      height: 120px;
      background-image: url('../../assets/icons/Ellipse.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      & embed {
        width: 100%;
        height: 100%;
      }
    }

    .editing-profile-name {
      font-size: 18px;
      font-weight: 600;
    }

    .editing-profile-form-wrapper {
      :global {
        .editing-profile-form-error {
          position: absolute;
          display: none;
          bottom: 30px;
          padding: 4px;
          color: red;
          border: 1px solid red;
          width: 500px;
          text-align: center;
        }
      }

      &.error {
        .editing-profile-form-error {
          display: block;
        }
      }
    }
  }
}

.editing-profile-form {
  width: 500px;
}
