<head>
  <style>
    .button { text-decoration: none;display: flex; align-items: center;
    justify-content: center; padding: 0 8px;height: 36px; outline: none;
    background-color: transparent; border: 1px solid #1e1e1e; border-radius:
    6px; transition: 0.3s; cursor:pointer; } .button:hover { border-color:
    #3369f3; } .button_primary { background-color: #3369f3; color: #fff;
    border-color: #3369f3; } .button_primary:hover { background-color: #1454f6;
    border-color: #1454f6; } .button_link { border: none; color: #3369f3; }
    .button_link:hover { color: #1454f6; }
  </style>
</head>
<a class="button {{type}}" href={{href}}>{{label}}</a>