<main class="error">
  <section class="error_wrapper">
    <div class="error_text">
      <h1 class="error_title">{{error}}</h1>
      <h3 class="error_subTitle">{{errorName}}</h3>
    </div>
    {{> button label="Назад к
    чатам" href='../login/' type='button_link'}}
  </section>
</main>