<head>
  <style>
    .form-item { display: flex; flex-direction: column; margin-bottom: 18px; }
    .form-item_label { font-size: 12px; margin-bottom: 6px; } .form-item_input {
    border: none; border-bottom: 1px solid #1e1e1e; transition: 0.3s; }
    .form-item_input:focus, .form-item_input:focus-visible { border-color:
    #3369f3; }
  </style>
</head>
<div class="form-item">
  <label class="form-item_label" for={{id}}>{{label}}</label>
  <input class="form-item_input" type={{type}} id={{id}} />
</div>