<head>
  <style>
    .profile_param { display: flex; align-items: center; justify-content:
    space-between; width: 500px; padding: 12px 0; border-bottom: 1px solid
    #eaeaea; margin-bottom: 6px;} .profile_param-value { color: #999999; }
  </style>
</head>
<div class="profile_param">
  <span class="profile_param-title">{{title}}</span>
  <span class="profile_param-value">{{value}}</span>
</div>